<templateSet group="Mybatis/SQL">
  <template name="CD" value="&lt;![CDATA[$SELECTION$]]&gt;" description="Surround with CDATA section" toReformat="false" toShortenFQNames="false" />
  <template name="if" value="&lt;if test=&quot;$param$ != null and $param$ !=''&quot;&gt;&#10;    $END$&#10;&lt;/if&gt;" description="&lt;if test=&quot;&quot;&gt;&lt;/if&gt;" toReformat="false" toShortenFQNames="true">
    <variable name="param" expression="" defaultValue="" alwaysStopAt="true" />
    <context>
      <option name="SQL" value="true" />
    </context>
  </template>
  <template name="foreacch" value="&lt;foreach collection=&quot;$param1$&quot; item=&quot;$param2$&quot; open=&quot;(&quot; close=&quot;)&quot; separator=&quot;,&quot;&gt;&#10;    #{$param2$}&#10;&lt;/foreach&gt;" description="&lt;foreach&gt;&lt;/foreach&gt;" toReformat="false" toShortenFQNames="true">
    <variable name="param1" expression="" defaultValue="" alwaysStopAt="true" />
    <variable name="param2" expression="" defaultValue="" alwaysStopAt="true" />
    <context>
      <option name="SQL" value="true" />
    </context>
  </template>
</templateSet>